<section id="contactos">
            <div>
                <a href="https://n9.cl/i34xq" target="_blank">
                    <h2><img src="imagenes/ubicacion.png" alt=""> Dirección</h2>
                </a>
                <p>Pablo Maldonado y Pedro Mena</p>
            </div>
            <div>
                <a href="mailto:kjchuquitarco@espe.ecu.ec">
                    <h2><img src="imagenes/Email.png" alt=""> Email</h2>
                </a>
                <p>casamusical@mail.com</p>
            </div>
            <div>
                <a href="tel:+0998920369">
                    <h2><img src="imagenes/Telefono.png" alt=""> Teléfono</h2>
                </a>
                <p>+0998920369</p>
            </div>
        </section>
    </main>