<main>
        <section>
            <div>
                <img src="imagenes/Piano.jpg" alt="">
            </div>
            <div>
                <h2>Acerca de nosotros</h2>
                <p>Productos de calidad con marcas reconocidas a nivel mundial como Korg, Yamaha, Fender y más!</p>
                <button>MÁS INFORMACIÓN</button>
            </div>
        </section>